#main{

    & svg.animal{
        display: none;
    }

    & .hero{

        height: 100vh;
        max-width: 100vw;
        overflow: hidden;

        & .hero-container{

            height: 100%;
            position: relative;
            overflow: hidden;

            & .logo{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 5;
                transform: translate(calc(-50% - 260px), -50%);
                
                @media(max-width: 800px){
                    transform: translate(-50%, calc(-50% - 60px));
                    width: fit-content;
                }

                & .top{
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 40px;
                }

                & .bottom{
                    font-size: 23.7px;
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 25px;
                }

                & .descriptor{
                    line-height: 40px;
                }

            }

            & #container{
                position: absolute;
                top: 0;
                left: 15%;
                width: 100%;
                height: 100%;
                z-index: 3;

                @media(max-width: 800px){
                    display: none;
                }
            }
    
            & #container-stroke{

                position: absolute;
                top: 0;
                left: 15%;
                width: 100%;
                height: 100%;
                overflow: hidden;
                z-index: 2;
                filter: grayscale(1);

                @media(max-width: 800px){
                    left: 0;
                }
            }
        }
    }

    & #catalog{
        padding-bottom: 50px;

        & .filters{

            display: flex;

            & .filters-block{

                margin-right: 20px;
                position: relative;


                & .current{
                    display: flex;
                    line-height: 37px;
                    padding: 0 5px;
                    background: #efefef;
                    border-radius: 4px;
                    cursor: pointer;
                    
                    & .key{
                        padding: 0 5px;
                    }
                    
                    & .value{
                        padding: 0 5px;
                        color: $primary-color;
                    }

                    & .reset-wrapper{
                        padding: 0 5px;

                        & .reset-filter{
                            color: #777;
                        }
                    }
                }

                & .values{
                    box-shadow: 0 2px 8px rgba(black, .4);
                    border-radius: 4px;
                    overflow: hidden;
                    min-width: 100%;
                    margin: 0;
                    position: absolute;
                    z-index: 20;
                    background: #fff;
                    top: calc(100% - 20px);
                    opacity: 0;
                    pointer-events: none;
                    transition: top .4s, opacity .4s;

                    & li{

                        transition: background-color .2s;

                        &:hover{
                            background: #efefef;
                        }

                        & input[type="checkbox"]{
                            display: none;

                            & ~ label{

                                cursor: pointer;
                                
                                &:before{
                                    content: '\F012C';
                                    font-family: 'Material Design Icons';
                                    margin-right: 10px;
                                    transition: color .2s;
                                    color: transparent;
                                }
                            }

                            &:checked ~ label:before{
                                color: black;
                            }
                        }

                        & a, & label{
                            display: block;
                            line-height: 40px;
                            padding: 0 15px;
                        }

                        & a{

                            transition: background-color .2s, color .2s;

                            &.active{
                                background-color: $primary-color !important;
                                color: #fff;
                            }
                        }
                    }
                }

                &:hover .values{
                    pointer-events: all;
                    opacity: 1;
                    top: 100%;
                }
            }
        }
    }
    
    & #howto{
        background: url(/img/low-poly-bgr.svg);
        background-position: center;
        background-size: cover;
        padding-bottom: 10px;

        & .howto-block{

            display: flex;
            margin: 20px 0;

            & .number-wrapper{
                flex-shrink: 0;
                padding-right: 20px;

                & .number{
                    box-shadow: 0 0 0 1px black;
                    line-height: 38px;
                    width: 40px;
                    text-align: center;
                    font-size: 21px;
                    font-weight: bold;
                    border-radius: 50%;
                }
            }
        }
    }

    & #instructions{

        & video{
            width: 100%;
            height: auto;
        }
    }
}