body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & main{
        flex-grow: 1;
    }

    & a{
        cursor: pointer;
    }

    & video{
        width: 100%;
        height: auto;
    }

    & .modal{

        & .input-field{
            width: 100%;
            
            & textarea,
            & input{
                
                &:not(:placeholder-shown), &:focus{
    
                    & ~ label{
                        background-color: #fafafa;
                    }
                }
            }
        }
    }

    & .add-cart{

		display: inline-flex;

		& .minus, & .plus{
			line-height: 30px;
			padding: 0 12px;
            cursor: pointer;
		}

		& input{
			width: 30px;
			text-align: center;
			background-color: transparent;
			border: 0;
		}
	}

    & input[type="number"]{

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .hidden{
        display: none;
        pointer-events: none;
    }

    .dropdown-container{

        position: relative;
        min-height: 40px;
    
        & .current{
            line-height: 50px;
            min-height: 50px;
            padding-top: 10px;
            border-bottom: 1px solid black;
            font-size: 24px;
            cursor: pointer;
            white-space: nowrap;
            user-select: none;
            padding-right: 16px;
            background: url(../img/dropdown-arrow.svg) right bottom 20px no-repeat;
    
            & + .label{
                position: absolute;
                top: 0;
                font-size: 12px;
                pointer-events: none;
                transition: font-size .2s, top .2s;
            }
    
            &:empty + .label{
                font-size: 16px;
                top: 26px;
            }
        }
    
        & .popup{
            margin: 0;
            padding: 0;
            position: absolute;
            width: 100%;
            min-width: fit-content;
            z-index: 20;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(black, .4);
            left: 0;
            top: 100%;
            max-height: 216px;
            overflow: auto;
            transition: transform .2s, opacity .2s;
            pointer-events: none;
            transform: translateY(-10px);
            opacity: 0;

            &::-webkit-scrollbar{
                width: 8px;
                background: #d3d3d3;
                border-end-end-radius: 4px;
            }

            &::-webkit-scrollbar-thumb{
                background: #fff;
                box-shadow: 0 0 0 2px #d3d3d3 inset;
            }

            
    
            &.open{
                transform: none;
                opacity: 1;
                pointer-events: all;
            }
    
            & li{
                list-style: none;
                
                & a{
                    line-height: 36px;
                    min-height: 36px;
                    padding: 0 10px;
                    display: block;
    
                    &:hover{
                        background-color: #ececec;
                    }
                }
            }
        }
    }

    h1{
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    h2{
        font-size: 28px;
        font-weight: 700;
    }
    
    .product{
        
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        height: calc(100% - 20px);
        flex-direction: column;
    
        & .photo{
            padding-top: 100%;
            background-size: cover;
            background-position: center;
            margin-bottom: 20px;
            position: relative;
    
            & .actions-wrapper{
    
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                line-height: 100%;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                background: rgba(black, .7);
                transition: opacity .4s;
                opacity: 0;
                
                & .actions{
                    
                    transform: translateY(20px);
                    transition: transform .4s;
                    
                    & a{
                        display: inline-block;
                        color: #fff;
                        margin: 0 10px;
                        
                        & i{
                            font-size: 32px;
                            line-height: 40px;
                        }
                        
                        & span, & i{
                            display: block;
                        }
                    }
                }
                
                &:hover{
                    
                    opacity: 1;
    
                    & .actions{
                        transform: none;
                    }
                }
            }
        }
    
        & .product-header{
            font-size: 24px;
            font-weight: 700;
            line-height: 27px;
        }

        & .separator{
            flex-grow: 1;
        }
    
        & .price{
            color: $primary-color;
            font-weight: 700;
            font-size: 21px;
        }
    }
    
    #instructions{
        border-top: 1px dashed #ccc;
        position: relative;
    
        &:before{
            content: '';
            position: absolute;
            height: 30px;
            width: 30px;
            top: -30px;
            left: 30%;
            background: url(/img/scissors.svg);
            background-position: bottom center;
            background-repeat: no-repeat;
        }
    }
    
    .btn{
    
        & i{
            display: inline-block;
        }
    
        & span{
            display: inline-block;
            transform: translateY(-2px);
        }
    }

    & .modal{

        &#login{
            width: 300px;

            & .modal-header{
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }

    & .swiper-slide{
        height: auto;
    }
}